.mapContainer {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 1rem
}

.mainMapImage {
    width: 100%;
    height: auto;
    display: block;
}

.hoverInfoBar {
    width: 100%;
    max-width: 100%;
    margin-bottom: 3rem;
}

.imagingSuiteZero{
    position: absolute;
    bottom: 43%;
    left: 60.5%;
    width: 22.5%;
}

.pharmacyZero{
    position: absolute;
    bottom: 43.4%;
    left: 66.35%;
    width: 2.2%;
}

.phlebotomyZero{
    position: absolute;
    bottom: 37.6%;
    left: 68.68%;
    width: 3.8%;
}

.specClinicZero{
    position: absolute;
    bottom: 24.3%;
    left: 73%;
    width: 22%;
}

.urgentCareZero{
    position: absolute;
    left: 66.3%;
    bottom: 37.65%;
    width: 12.6%;
}

.twentytwoZero{
    position: absolute;
    left: 5%;
    bottom: 1.9%;
    width: 36.8%;
}

.imagingSuiteOne{
    position: absolute;
    bottom: 31%;
    height: 67%;
    left: 6.8%;
    width: 53.8%;
}

.pharmacyOne{
    position: absolute;
    bottom: 30.8%;
    height: 12%;
    left: 20.8%;
    width: 5.2%;
}

.phlebotomyOne{
    position: absolute;
    bottom: 23.7%;
    height: 19.5%;
    left: 26.4%;
    width: 8.9%;
}

.specClinicOne{
    position: absolute;
    bottom: 6.8%;
    height: 69%;
    left: 37%;
    width: 53.5%;
}

.urgentCareOne{
    position: absolute;
    left: 20.5%;
    height: 30%;
    bottom: 23.2%;
    width: 31%;
}

.twentytwoTwo{
    position: absolute;
    left: 2.2%;
    bottom: 19.8%;
    height: 78%;
    width: 95%
}

.locationMarker{
    position: absolute;
    bottom: 50%;
    left: 10%;
    height: 6.42%;
    width: 5%;
}