.mapContainer {
    position: relative;
    min-width: 1429px;
}

.imagingSuite{
    position: absolute;
    bottom: 43%;
    left: 60.5%;
    width: 22.5%;
}

.pharmacy{
    position: absolute;
    bottom: 43.4%;
    left: 66.35%;
    width: 2.2%;
}

.phlebotomy{
    position: absolute;
    bottom: 37.6%;
    left: 68.68%;
    width: 3.8%;
}

.specClinic{
    position: absolute;
    bottom: 24.3%;
    left: 73%;
    width: 22%;
}

.urgentCare{
    position: absolute;
    left: 66.3%;
    bottom: 37.65%;
    width: 12.6%;
}