@import 'tailwindcss';


:root {
    background-color: white;
    font-size: 18px;
    line-height: 1.4;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.navButton:hover {
    background-color: #0043ad;
    color: white;
}

.LoggoutButton:hover {
    background-color: #a7342e;
    color: white;
}